html {
  background-color: rgba(26, 52, 59, 1);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 9vmin;
}

.square {
  position: relative;
  background-color: rgb(61, 165, 194);
  will-change: all;
  transition: all 400ms ease-in-out;
}

.animated {
  transition: all 400ms ease-in-out;
}

#center {
  width: 30vmin;
  height: 30vmin;
}

#center:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "?";
  display: block;
  transform: translate(-50%, -50%);
  transition: all 400ms ease-in-out;
}

#center:hover:before {
  opacity: 0;
}

#center:hover #down {
  pointer-events: initial;
  opacity: 1;
  transform: translateY(0);
}

#down {
  height: 100%;
  width: 200%;
  border-bottom-right-radius: 50px;
  bottom: -100%;
  pointer-events: none;
  opacity: 0;
  transform: translateY(25%);
}

#down:hover #right {
  pointer-events: initial;
  opacity: 1;
  transform: translate(0, 0);
}

#right {
  height: 200%;
  width: 50%;
  top: -200%;
  right: -50%;
  border-top-right-radius: 50px;
  pointer-events: none;
  opacity: 0;
  transform: translate(25%, -25%);
}

#right:hover #up {
  pointer-events: initial;
  opacity: 1;
  transform: translate(0, 0);
}

#up {
  height: 50%;
  width: 200%;
  left: -200%;
  border-top-left-radius: 50px;
  pointer-events: none;
  opacity: 0;
  transform: translate(-25%, -25%);
}

#up:hover #left {
  pointer-events: initial;
  opacity: 1;
  transform: translate(0, 0);
}

#left {
  height: 200%;
  width: 50%;
  top: 100%;
  border-bottom-left-radius: 50px;
  pointer-events: none;
  opacity: 0;
  transform: translate(-25%, 25%);
}

.gif {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  display: flex;
}

.gif:before {
  position: absolute;
  content: "?";
  display: block;
  height: 100%;
  text-align: center;
  line-height: 25vmin;
}

.gif:after {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  content: "";
  display: block;
  background: url("http://i.memeful.com/media/post/PRoPBdo_700wa_0.gif") center
    center no-repeat;
  background-size: cover;
  border-radius: 50px;
  width: 300%;
  height: 300%;
  transform: translateY(-66.6666666%);
  opacity: 0;
  transition: opacity 40ms ease-in-out;
}

.gif:hover:after {
  opacity: 1;
}
