html {
  background-color: rgba(26, 52, 59, 1);
  overflow: hidden;
}

body {
  background-color: rgba(26, 52, 59, 1);
  width: 100vw;
  height: 100vh;
}

body:after {
  content: "";
  position: absolute;
  background-color: rgba(32, 134, 165, 0.933);
  width: 100vw;
  height: 100vh;
  opacity: 0%;
}

html:hover body:after {
  animation: back-in 2s 0ms;
}

@keyframes back-in {
  from {
    width: 0vw;
    opacity: 0%;
    transform-origin: center;
  }
  to {
    transform: 100vw;
    opacity: 100%;
  }
}
