html {
  background-color: rgba(26, 52, 59, 1);
  overflow: hidden;
}

body {
  position: relative;
  background-color: rgba(26, 52, 59, 1);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.elements {
  position: relative;
  width: 35rem;
  height: 40rem;
  margin: auto;
  background-image: url(perritos.jpg);
  background-size: inherit;
}

#ele-izq:before,
#ele-der:before {
  position: absolute;
  z-index: 2;
  margin: auto;
  display: block;
  text-align: center;
  color: white;
  background: rgba(60, 141, 165, 0.8);
  width: 100%;
  top: 0px;
  font-size: 1.2rem;
  height: 4rem;
}

#ele-izq:before {
  content: "Horizontal transition";
  transform: scaleX(1);
  transition: transform 300ms;
  transform-origin: left;
}

#ele-der:before {
  content: "Vertical transition";
  transform: scaleY(1);
  transition: transform 300ms;
  transform-origin: top;
}

#ele-izq:after,
#ele-der:after {
  position: absolute;
  z-index: 2;
  margin: auto;
  display: block;
  text-align: center;
  color: white;
  background: rgba(60, 141, 165, 0.8);
  width: 100%;
  bottom: 0px;
  font-size: 0.8rem;
  height: 8rem;
}

#ele-izq:after {
  content: "Lorem ipsum dolor sit amet consectetur adipisicing elit Labore aut ad ipsum, earum optio necessitatibus nostrum quae eaque quam voluptatem! Veritatis, provident! Perferendis repellendus quis nam dolorem doloribus incidunt pariatur?";
  transform: scaleX(0);
  transition: transform 300ms;
  transform-origin: right;
}

#ele-der:after {
  content: "Lorem ipsum dolor sit amet consectetur adipisicing elit Labore aut ad ipsum, earum optio necessitatibus nostrum quae eaque quam voluptatem! Veritatis, provident! Perferendis repellendus quis nam dolorem doloribus incidunt pariatur?";
  transform: scaleY(0);
  transition: transform 300ms;
  transform-origin: bottom;
}

#ele-izq:hover:after {
  transform: scaleX(1);
}

#ele-izq:hover:before {
  transform: scaleX(0);
}

#ele-der:hover:after {
  transform: scaleY(1);
}

#ele-der:hover:before {
  transform: scaleY(0);
}
